// homepage footer slider
.featured-slider {
  border:8px solid $black;
  padding: 30px;
  background: rgba( $white, 0.3 );
  font-size: 20px;
  height: 250px;
  width: 400px;
  border-radius: 30px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}


